<h1>FileBot</h1>
<p>This article will show you how to install FileBot. FileBot can be used to automatically rename TV and movie files for your media libraries.</p>

<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="/wiki/slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<p>FileBot requires you to <a href="/wiki/software/java">install Java</a> first, as the server's version won't be recent enough.</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installation">Installation</a>
                <ul>
                    <li><a href="#installation-notes">Installation notes</a></li>
                </ul>
            </li>
            <li><a href="#usage">Using Filebot</a>
            	<ul>
            		<li><a href="#example-commands">Example commands</a></li>
            	</ul>
            </li>
            <li><a href="#troubleshooting">Troubleshooting</a></li>
            <li><a href="#uninstallation">Uninstallation</a></li>
            <li><a href="#external-links">External links</a></li>
        </ol>
    </nav>
</details> 

<h2 id="installation">Installation</h2>
<p>Install FileBot by logging in via SSH, then copying and pasting the following:</p>
<pre><kbd>wget -O ~/filebot.tar.xz https://downloads.sourceforge.net/project/filebot/filebot/FileBot_4.7.9/FileBot_4.7.9-portable.tar.xz
mkdir -p ~/filebot &amp;&amp; tar xf ~/filebot.tar.xz -C ~/filebot
rm -rf ~/filebot.tar.xz</kbd></pre>

<h3 id="installation-notes">Installation notes</h3>
<p>If your binary directory (<samp>~/bin</samp>) is not in PATH you'll need to give the full path when trying to run the software in that directory. A better alternative is to <a href="/wiki/getting-started/newbie-info#pathfix">add the bin directory to PATH</a>.</p>

<h2 id="usage">Using FileBot</h2>
<p>Running the FileBot script can be done with the following command:</p>
<p><kbd>~/filebot/filebot.sh</kbd></p>
<p>That command with no other options will display the usage guide:</p>
<pre><samp>FileBot 4.7.9 (r4984) / Java(TM) SE Runtime Environment 1.8.0_141 (headless)

 --mode [Rename, Subtitles, SFV] or     : Open GUI in single panel mode /
 [interactive]                            Enable CLI interactive mode
 -rename                                : Rename media files
 --db [TheTVDB, AniDB] or [TheMovieDB]  : Database
 or [AcoustID, ID3] or [xattr]             
 --order [Airdate, Absolute, DVD]       : Episode order
 --action [move, copy, keeplink,        : Rename action
 symlink, hardlink, reflink, test]         
 --conflict [skip, override, auto,      : Conflict resolution
 index, fail]                              
 --filter expression                    : Filter expression
 --format expression                    : Format expression
 -non-strict                            : Enable advanced matching and more
                                          aggressive guessing
 -get-subtitles                         : Fetch subtitles
 --q series/movie title                 : Force lookup query
 --lang 3-letter language code          : Language
 -check                                 : Create/Check verification files
 --output /path                         : Output path
 --encoding [UTF-8, Windows-1252]       : Output character encoding
 -list                                  : Fetch episode list
 -mediainfo                             : Get media info
 -revert                                : Revert files
 -extract                               : Extract archives
 -script [fn:name] or [dev:name] or     : Run Groovy script
 [/path/to/script.groovy]                  
 --log [all, fine, info, warning]       : Log level
 --log-file /path/to/log.txt            : Log file
 --log-lock [yes, no]                   : Lock log file
 -r                                     : Recursively process folders
 -clear-cache                           : Clear cached and temporary data
 -clear-prefs                           : Clear application settings
 -unixfs                                : Do not strip invalid characters from
                                          file paths
 -no-xattr                              : Disable extended attributes
 -version                               : Print version identifier
 -help                                  : Print this help message
 --def [name=value]                     : Define script variables
</samp></pre>

<h3 id="example-commands">Example commands</h3>
<p>The following command would instruct FileBot to search TheTVDB database for results and rename the files in ~/TV as per the results of the database search:</p>
<p><kbd>~/filebot/filebot.sh -rename --db TheTVDB "$HOME/TV"</kbd></p>
<p>There are a couple of things to note here:</p>
<ul>
    <li>You must put <samp>"</samp> around the path to your media;</li>
    <li>The <samp>~</samp> character for HOME can confuse FileBot - use <samp>$HOME</samp> instead.</li>
</ul>

<h2 id="troubleshooting">Troubleshooting</h2>
<dl>
    <dt>I get the error <samp>Exception in thread "main" java.lang.UnsupportedClassVersionError: net/filebot/Main : Unsupported major.minor version 52.0</samp></dt>
    <dd>Make sure that you've <a href="/wiki/software/java">installed Java</a> and that <samp>~/bin</samp> is part of the PATH variable (see the installation notes above).</dd>
    <dt>I get the error <samp>Multiple options: Advanced auto-selection requires -non-strict matching: []</samp></dt>
    <dd>Use the option <samp>-non-strict</samp> when running the FileBot script.</dd>
</dl>

<h2 id="uninstallation">Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software and its config files - back up important data first!</aside>
<pre><code>rm -rf ~/filebot</code></pre>

<h2 id="external-links">External links</h2>
<ul>
    <li><a href="https://www.filebot.net/">FileBot's homepage</a></li>
</ul>