<h1>Jackett</h1>

<p>This article will show you how to install Jackett. Jackett allows you to use software like <a href="/wiki/software/sonarr"></a>, <a href="/wiki/software/radarr"></a> and <a href="/wiki/software/sickrage"></a> with various otherwise-unsupported trackers.</p>

<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="/wiki/slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installation-auto">Installation - bash script</a></li>
            <li><a href="#start-stop-restart">Starting, stopping and restarting</a>
                <ul>
                    <li><a href="#auto-restart">Automatically restarting Jackett if it is not running</a></li>
                </ul>
            </li>
            <li><a href="#usage">Using Jackett</a></li>
            <li><a href="#troubleshooting">Troubleshooting</a></li>
            <li><a href="#uninstallation">Uninstallation</a></li>
            <li><a href="#external-links">External links</a></li>
        </ol>
    </nav>
</details> 

<h2 id="installation-auto">Installation</h2>
<p>You can copy and paste the following to run an installation script for Jackett and its dependencies:</p>
<p><kbd>wget -qO ~/install.jackett.sh https://bitbucket.org/feralio/wiki/raw/HEAD/src/wiki/software/jackett/jackett.sh &amp;&amp; bash ~/install.jackett.sh</kbd></p>
<p>The script will also allow you to restart the software and uninstall it.</p>

<h2 id="start-stop-restart">Starting, stopping and restarting</h2>
<p>This section covers the Jackett process - starting it, stopping it and restarting it. It also covers checking if the process is running, in case that becomes necessary.</p>
<dl>
    <dt>start</dt>
    <dd><kbd>screen -dmS jackett /bin/bash -c 'export TMPDIR=~/tmp; ~/Jackett/jackett' &amp;&amp; echo -e "\nhttp://$(hostname -f):$(sed -rn 's|(.*)"Port": (.*),|\2|p' ~/.config/Jackett/ServerConfig.json)"</kbd></dd>
    <dt>check running</dt>
    <dd><kbd>pgrep -fu "$(whoami)" jackett</kbd></dd>
    <dt>stop</dt>
    <dd><kbd>pkill -fu "$(whoami)" jackett</kbd></dd>
    <dt>restart</dt>
    <dd><kbd>pkill -fu "$(whoami)" jackett; sleep 3; screen -dmS jackett /bin/bash -c 'export TMPDIR=~/tmp; ~/Jackett/jackett'; echo -e "\nhttp://$(hostname -f):$(sed -rn 's|(.*)"Port": (.*),|\2|p' ~/.config/Jackett/ServerConfig.json)"</kbd></dd>
    <dt>kill (force stop)</dt>
    <dd><kbd>pkill -9 -fu "$(whoami)" jackett</kbd></dd>
</dl>
<p>The check command works as follows: if the process is running a list of relevant process ID numbers will be listed; if nothing is listed the process is not running.</p>
<p>Please note that the bash script at the top of the page can also be used for restarting Jackett.</p>

<h3 id="auto-restart">Automatically restarting Jackett if it is not running</h3>
<p>Cron jobs can be used to check if Jackett is running and start it up if it is not. There is a separate page on <a href="/wiki/slots/cron">configuring cron jobs</a>.</p>

<h2 id="usage">Using Jackett</h2>
<p>One of the first things you should probably do is password protect Jackett. You can do this by scrolling down on the Jackett dashboard to the section <samp>Jackett Configuration</samp>, enter your password in the field <samp>Admin password</samp> and press <kbd>Set Password</kbd>.</p>

<h2 id="troubleshooting">Troubleshooting</h2>
<dl>
    <dt>Jackett gives an error whilst trying to add an indexer.</dt>
    <dd>
        <p>Please copy and paste the following commands:</p>
        <pre><kbd>wget -O ~/cacert.pem https://curl.haxx.se/ca/cacert.pem
cert-sync --user ~/cacert.pem</kbd></pre>
        <p>Then, restart Jackett using the section above.</p>
    </dd>
</dl>

<h2 id="uninstallation">Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software and its config files - back up important data first!</aside>

<pre><code>pkill -9 -fu "$(whoami)" jackett
rm -rf ~/Jackett ~/.config/Jackett</code></pre>

<h2 id="external-links">External links</h2>
<ul>
    <li><a href="https://github.com/Jackett/Jackett">Jackett's homepage</a></li>
</ul>