<h1>Lidarr</h1>
<p>This article will show you how to install Lidarr. Lidarr is a fork of <a href="sonarr">Sonarr</a> to work with music.</p>

<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installation">Installation</a>
                <ul>
                    <li><a href="#installation-notes">Installation notes</a></li>
                    <li><a href="#pre-config">Configuring before starting Lidarr</a></li>
                </ul>
            </li>
            <li><a href="#start-stop-restart">Starting, stopping and restarting</a>
                <ul>
                    <li><a href="#auto-restart">Automatically restarting Lidarr if it is not running</a></li>
                </ul>
            </li>
            <li>Configuring
                <ul>
                    <li><a href="#password">Setting a password in Lidarr</a></li>
                    <li><a href="#configure-clients">Configuring clients with Lidarr</a>
                        <ul>
                            <li><a href="#rtorrent">rTorrent</a></li>
                            <li><a href="#deluge">Deluge</a></li>
                            <li><a href="#transmission">Transmission</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#uninstallation">Uninstallation</a></li>
            <li><a href="#external-links">External links</a></li>
        </ol>
    </nav>
</details> 

<h2 id="installation">Installation</h2>
<p>Lidarr requires mono to run. Please <a href="mono">install mono</a> first, then come back to this guide.</p>

<p>Once mono is installed, install Lidarr by logging in via SSH, then copying and pasting the following:</p>
<pre><kbd>wget -qO ~/Lidarr.tar.gz https://github.com/lidarr/Lidarr/releases/download/v0.6.2.883/Lidarr.develop.0.6.2.883.linux.tar.gz
tar xf ~/Lidarr.tar.gz
rm ~/Lidarr.tar.gz
mkdir -p ~/.config/Lidarr</kbd></pre>

<h3 id="installation-notes">Installation notes</h3>
<p>By default, you will access the software in your browser by using the URL with a port number. If you consider the URL without a port number to be neater, you will need to <a href="../slots/proxypass">configure a proxypass</a>.</p>

<h3 id="pre-config">Configuring before starting Lidarr</h3>
<p>A config.xml file needs to be created and tweaked before we can properly run Lidarr. To create it, use the following command:</p>
<p><kbd>nano ~/.config/Lidarr/config.xml</kbd></p>
<p>Then, copy and paste the following:</p>
<pre><samp>&lt;Config&gt;
  &lt;Port&gt;8686&lt;/Port&gt;
  &lt;UrlBase&gt;&lt;/UrlBase&gt;
  &lt;BindAddress&gt;*&lt;/BindAddress&gt;
  &lt;SslPort&gt;9898&lt;/SslPort&gt;
  &lt;EnableSsl&gt;False&lt;/EnableSsl&gt;
  &lt;ApiKey&gt;&lt;/ApiKey&gt;
  &lt;AuthenticationMethod&gt;None&lt;/AuthenticationMethod&gt;
  &lt;LogLevel&gt;Info&lt;/LogLevel&gt;
  &lt;Branch&gt;develop&lt;/Branch&gt;
  &lt;LaunchBrowser&gt;False&lt;/LaunchBrowser&gt;
  &lt;SslCertHash&gt;&lt;/SslCertHash&gt;
  &lt;UpdateMechanism&gt;BuiltIn&lt;/UpdateMechanism&gt;
&lt;/Config&gt;</samp></pre>
<p>Once you're done hold <kbd>ctrl</kbd> + <kbd>x</kbd> to save. Press <kbd>y</kbd> to confirm.</p>

<p>You then need to tweak the config slightly. You can do this by copying and pasting the following:</p>
<pre><kbd>sed -i 's|&lt;Port&gt;8686&lt;/Port&gt;|&lt;Port&gt;'$(shuf -i 10001-32001 -n 1)'&lt;/Port&gt;|g' ~/.config/Lidarr/config.xml
sed -i 's|&lt;UrlBase&gt;&lt;/UrlBase&gt;|&lt;UrlBase&gt;/'"$(whoami)"'/Lidarr&lt;/UrlBase&gt;|g' ~/.config/Lidarr/config.xml</kbd></pre>

<h2 id="start-stop-restart">Starting, stopping and restarting</h2>
<p>This section covers the Lidarr process - starting it, stopping it and restarting it. It also covers checking if the process is running, in case that becomes necessary.</p>
<p>You can start Lidarr and print its URL with the following:</p>
<pre><kbd>screen -dmS Lidarr /bin/bash -c 'export TMPDIR=~/tmp; ~/bin/mono --debug Lidarr/Lidarr.exe' &amp;&amp; echo "http://$(hostname -f):$(sed -rn 's|(.*)&lt;Port&gt;(.*)&lt;/Port&gt;|\2|p' ~/.config/Lidarr/config.xml)/$(whoami)/lidarr/"</kbd></pre>
<p>If nothing happens or there is an error it could be that the port that was picked in the configuration step in use. Simply run these commands again to try with a different number (you'll need to edit the proxypass if you have one set up):</p>
<pre><kbd>sed -i 's|&lt;Port&gt;.*&lt;/Port&gt;|&lt;Port&gt;'$(shuf -i 10001-32001 -n 1)'&lt;/Port&gt;|g' ~/.config/Lidarr/config.xml
screen -dmS Lidarr /bin/bash -c 'export TMPDIR=~/tmp; ~/bin/mono --debug Lidarr/Lidarr.exe' &amp;&amp; echo "http://$(hostname -f):$(sed -rn 's|(.*)&lt;Port&gt;(.*)&lt;/Port&gt;|\2|p' ~/.config/Lidarr/config.xml)/$(whoami)/lidarr/"</kbd></pre>

<p>If you need to check that it's running, you can run the command below. If the process is running a list of relevant process ID numbers will be listed. If nothing is listed, the process is not running.</p>
<p><kbd>pgrep -fu "$(whoami)" "SCREEN -dmS Lidarr"</kbd></p>
<p>The Lidarr process is stopped by executing:</p>
<p><kbd>pkill -fu "$(whoami)" 'Lidarr'</kbd></p>
<p>If Lidarr needs to be restarted, copy and paste these commands:</p>
<pre><kbd>pkill -fu "$(whoami)" 'Lidarr'
screen -dmS Lidarr /bin/bash -c 'export TMPDIR=~/tmp; ~/bin/mono --debug Lidarr/Lidarr.exe'
echo "http://$(hostname -f):$(sed -rn 's|(.*)&lt;Port&gt;(.*)&lt;/Port&gt;|\2|p' ~/.config/Lidarr/config.xml)/$(whoami)/lidarr/"</kbd></pre>

<p>Please note that if you want to stop the process for Lidarr, it's best to check it afterwards to make sure it has stopped. If the process has crashed and will not stop when requested, you can kill it with:</p>
<p><kbd>pkill -9 -fu "$(whoami)" 'Lidarr'</kbd></p>

<h3 id="auto-restart">Automatically restarting Lidarr if it is not running</h3>
<p>Cron jobs can be used to check if Lidarr is running and start it up if it is not. There is a separate page on <a href="../slots/cron">configuring cron jobs</a>.</p>

<h2>Configuring</h2>
<p>This section covers setting a password in Lidarr and connecting the Lidarr to different clients.</p>

<h3 id="password">Setting a password in Lidarr</h3>
<p>Within the Lidarr UI, click the <samp>Settings</samp> icon (the three gears at the top) and then click the <samp>General</samp> tab. Under <samp>Security</samp>, click the dropdown menu next to <samp>Authentication</samp> and select <samp>Forms (Login page)</samp>. Two fields will appear and you'll be able to set a username and password for the web UI. Whilst it's not mandatory you do this, it is a sensible thing to do. You'll need to restart the program for the changes to take effect.</p>

<h3 id="configure-clients">Configuring clients with Lidarr</h3>
<p>In Lidarr's user interface click the <samp>Settings</samp> icon (the three gears at the top) and then click <samp>Download Client</samp>. Next, click the <kbd>+</kbd> button. You can choose the torrent client you want to configure from the menu.</p>

<h4 id="rtorrent">rTorrent</h4>
<p>First of all you need to create the rTorrent RPC and this is done by <a href="nginx">switching from apache to nginx</a>.</p>
<dl>
    <dt>Name</dt>
    <dd>Your chosen name for the settings - you can pick what you like</dd>
    <dt>Enable</dt>
    <dd><kbd>Yes</kbd></dd>    
    <dt>Host</dt>
    <dd><kbd><var>server</var>.feralhosting.com</kbd></dd>
    <dt>Port</dt>
    <dd><kbd>443</kbd></dd>
    <dt>Url Path</dt>
    <dd><kbd>/<var>username</var>/rtorrent/rpc</kbd></dd>
    <dt>Use SSL</dt>
    <dd><kbd>Yes</kbd></dd>
    <dt>Username</dt>
    <dd><kbd>rutorrent</kbd> (the word 'rutorrent', <em>not</em> your ruTorrent username)</dd>
    <dt>Password</dt>
    <dd>Your ruTorrent access password</dd>
</dl>
<p>In the above settings, <var>server</var> is replaced by the name of your server (e.g. zeus) and <var>username</var> is your username on the server.</p>

<h4 id="deluge">Deluge</h4>
<p>First make sure <samp>Advanced Settings</samp> have been set to <samp>Shown</samp>, in order for the necessary options to appear.</p>
<dl>
    <dt>Name</dt>
    <dd>Your chosen name for the settings - you can pick what you like</dd>   
    <dt>Enable</dt>
    <dd><kbd>Yes</kbd></dd>    
    <dt>Host</dt>
    <dd><kbd><var>server</var>.feralhosting.com</kbd></dd>
    <dt>Port</dt>
    <dd><kbd>443</kbd></dd>
    <dt>Url Base</dt>
    <dd><kbd>/<var>username</var>/deluge</kbd></dd>
    <dt>Password</dt>
    <dd>Your Deluge web UI password</dd>
    <dt>Use SSL</dt>
    <dd><kbd>Yes</kbd></dd>
</dl>
<p>In the above settings, <var>server</var> is replaced by the name of your server (e.g. zeus) and <var>username</var> is your username on the server.</p>

<h4 id="transmission">Transmission</h4>
<p>First make sure <samp>Advanced Settings</samp> have been set to <samp>Shown</samp>, in order for the necessary options to appear.</p>
<dl>
    <dt>Name</dt>
    <dd>Your chosen name for the settings - you can pick what you like</dd>   
    <dt>Enable</dt>
    <dd><kbd>Yes</kbd></dd>    
    <dt>Host</dt>
    <dd><kbd><var>server</var>.feralhosting.com</kbd></dd>
    <dt>Port</dt>
    <dd><kbd>443</kbd></dd>
    <dt>Url Base</dt>
    <dd><kbd>/<var>username</var>/transmission/</kbd></dd>
    <dt>Username</dt>
    <dd>Your Transmission username</dd>
    <dt>Password</dt>
    <dd>Your Transmission password</dd>
    <dt>Use SSL</dt>
    <dd><kbd>Yes</kbd></dd>
</dl>
<p>In the above settings, <var>server</var> is replaced by the name of your server (e.g. zeus) and <var>username</var> is your username on the server.</p>

<h2 id="uninstallation">Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software and its config files - back up important data first!</aside>

<pre><kbd>pkill -fu "$(whoami)" 'Lidarr'
rm -rf ~/.config/Lidarr/ &amp;&amp; ~/Lidarr</kbd></pre>

<h2 id="external-links">External links</h2>
<ul>
    <li><a href="https://lidarr.audio/#home">Lidarr's homepage</a></li>
    <li><a href="https://github.com/lidarr/Lidarr/wiki">Lidarr wiki</a></li>
</ul>