<h1>Madsonic</h1>
<p>This article will show you how to install Madsonic. Madsonic is a web-based media library and media streamer with jukebox functionality.</p>
<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installation">Installation</a>
                <ul>
                    <li><a href="#installation-notes">Installation notes</a></li>
                    <li><a href="#pre-config">Configuring before starting Madsonic</a></li>
                </ul>
            </li>
            <li><a href="#start-stop-restart">Starting, stopping and restarting</a>
                <ul>
                    <li><a href="#auto-restart">Automatically restarting Madsonic if it is not running</a></li>
                </ul>
            </li>
            <li><a href="#configure">Configuring</a></li>
            <li><a href="#uninstallation">Uninstallation</a></li>
            <li><a href="#external-links">External links</a></li>
        </ol>
    </nav>
</details> 

<h2 id="installation">Installation</h2>
<p>Madsonic requires an updated version of Java to run. Please <a href="java">install a later version of Java</a> first, then return to this section.</p>
<p>You should also <a href="ffmpeg">install FFMpeg</a> to allow Madsonic to transcode to your device if needed.</p>
<p>Install Madsonic by logging in via SSH, then copying and pasting the following:</p>
<pre><kbd>mkdir -p ~/private/madsonic
wget -qO ~/madsonic.zip https://download.madsonic.org/6.2/20190425_madsonic-6.2.9084-standalone.zip
unzip -qo ~/madsonic.zip -d ~/private/madsonic
rm ~/madsonic.zip</kbd></pre>

<h3 id="installation-notes">Installation notes</h3>
<p>By default, you will access the software in your browser by using the URL with a port number. If you consider the URL without a port number to be neater, you will need to <a href="../slots/proxypass">configure a proxypass</a>.</p>
<p>If you want to proxypass, please run the following command first:</p>
<p><kbd>sed -i 's|MADSONIC_CONTEXT_PATH=/|MADSONIC_CONTEXT_PATH=/'$(whoami)'/madsonic|g' ~/private/madsonic/madsonic.sh</kbd></p>
<p>The context path option will add /<var>username</var>/madsonic to the URL (so the start command below will return an incorrect URL).</p>

<h3 id="pre-config">Configuring before starting Madsonic</h3>
<p>You'll need to make some configuration changes to Madsonic before you can run it. To make those changes, simply copy and paste the following:</p>
<pre><kbd>sed -i 's|MADSONIC_HOME=/var/madsonic|MADSONIC_HOME=~/private/madsonic|g' ~/private/madsonic/madsonic.sh
sed -i 's|MADSONIC_PORT=4040|MADSONIC_PORT='"$(shuf -i 10001-32001 -n 1)"'|g' ~/private/madsonic/madsonic.sh
sed -i 's|MADSONIC_INIT_MEMORY=256|MADSONIC_INIT_MEMORY=2048|g' ~/private/madsonic/madsonic.sh
sed -i 's|MADSONIC_MAX_MEMORY=512|MADSONIC_MAX_MEMORY=2048|g' ~/private/madsonic/madsonic.sh
sed -i 's|MADSONIC_PIDFILE=|MADSONIC_PIDFILE=~/private/madsonic/madsonic.sh.PID|g' ~/private/madsonic/madsonic.sh
sed -i 's|quiet=0|quiet=1|g' ~/private/madsonic/madsonic.sh
sed -i '23 i export LANG=en_GB.UTF-8' ~/private/madsonic/madsonic.sh
sed -i "23 i export LC_ALL=en_GB.UTF-8\n" ~/private/madsonic/madsonic.sh
sed -i '23 i export LANGUAGE=en_GB.UTF-8' ~/private/madsonic/madsonic.sh</kbd></pre>

<h2 id="start-stop-restart">Starting, stopping and restarting</h2>
<p>This section covers the Madsonic process - starting it, stopping it and restarting it. It also covers checking if the process is running, in case that becomes necessary.</p>
<p>You can start Madsonic and print its URL with the following:</p>
<pre><kbd>~/private/madsonic/madsonic.sh &amp;&amp; echo "http://$(hostname -f):$(sed -rn 's|(.*)MADSONIC_PORT=(.*)|\2|p;q' ~/private/madsonic/madsonic.sh)/$(whoami)/madsonic" | grep http</kbd></pre>
<p>If you need to check that it's running, you can run the command below. If the process is running a list of relevant process ID numbers will be listed. If nothing is listed, the process is not running.</p>
<p><kbd>pgrep -fu "$(whoami)" "madsonic"</kbd></p>

<p>The Madsonic process is stopped by executing:</p>
<p><kbd>kill "$(pgrep -fu "$(whoami)" "madsonic")"</kbd></p>
<p>If Madsonic needs to be restarted, copy and paste this command:</p>
<pre><kbd>kill "$(pgrep -fu "$(whoami)" "madsonic")" &amp;&amp; sleep 5 &amp;&amp; ~/private/madsonic/madsonic.sh &amp;&amp; echo "http://$(hostname -f):$(sed -rn 's|(.*)MADSONIC_PORT=(.*)|\2|p;q' ~/private/madsonic/madsonic.sh)/$(whoami)/madsonic" | grep http</kbd></pre>
<p>Please note that if you want to stop the process for Madsonic, it's best to check it afterwards to make sure it has stopped. If the process has crashed and will not stop when requested, you can kill it with:</p>
<p><kbd>kill -9 "$(pgrep -fu "$(whoami)" "madsonic")"</kbd></p>

<h3 id="auto-restart">Automatically restarting Madsonic if it is not running</h3>
<p>Cron jobs can be used to check if Madsonic is running and start it up if it is not. There is a separate page on <a href="../slots/cron">configuring cron jobs</a>.</p>

<h2 id="configure">Configuring</h2>
<p>When you first access Madsonic you'll get a warning that your instance is not secured. Log in with username <samp>admin</samp> and password <samp>admin</samp>. You should see a Getting Started section, the first item of which is to change the administrator password. Click its link, scroll down and tick/check the box <samp>Change password</samp>. Two fields will open up - to set and confirm your chosen password. Once entered, click on <samp>Save</samp>.</p>

<h2 id="uninstallation">Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software and its config files - back up important data first!</aside>
<pre><code>kill -9 "$(pgrep -fu "$(whoami)" "madsonic")"
rm -rf ~/private/madsonic/</code></pre>

<h2 id="external-links">External links</h2>
<ul>
    <li><a href="http://beta.madsonic.org/pages/index.jsp">Madsonic homepage</a>
        <ul>
            <li><a href="http://beta.madsonic.org/pages/help.jsp">Documentation</a></li>
            <li><a href="http://beta.madsonic.org/pages/forum.jsp">Community</a></li>
        </ul>
    </li>
</ul>