<h1>mktorrent</h1>
<p>This article will show you how to install a later version of mktorrent. The software is already on the server but only at version 1.0, as this is the latest available in the Debian Jessie repo. A later version of mktorrent allows you to create torrents with the source (<samp>-s</samp>) option, a requirement of certain trackers.</p>

<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="/wiki/slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installation">Installation</a>
                <ul>
                    <li><a href="#installation-notes">Installation notes</a></li>
                </ul>
            </li>
            <li><a href="#usage">Using mktorrent</a></li>
            <li><a href="#uninstallation">Uninstallation</a></li>
        </ol>
    </nav>
</details> 

<h2 id="installation">Installation</h2>
<p>Install mktorrent by logging in via SSH, then copying and pasting the following:</p>
<pre><kbd>git clone https://github.com/Rudde/mktorrent.git
cd mktorrent/ &amp;&amp; PREFIX=$HOME make
PREFIX=$HOME make install
rm -rf ~/mktorrent</kbd></pre>

<h3 id="installation-notes">Installation notes</h3>
<p>If your binary directory (<samp>~/bin</samp>) is not in PATH you'll need to give the full path when trying to run the software in that directory. A better alternative is to <a href="/wiki/getting-started/newbie-info#pathfix">add the bin directory to PATH</a>.</p>
<p>The rest of the guide assumes you have done this and will simply use <kbd>mktorrent</kbd> to run the mktorrent binary, instead of <kbd>~/bin/mktorrent</kbd>.</p>

<h2 id="usage">Using mktorrent</h2>
<p>Using the binary with the <samp>-h</samp> option will display the usage guide:</p>
<pre><samp>Usage: mktorrent [OPTIONS] &lt;target directory or filename&gt;

Options:
-a &lt;url&gt;[,&lt;url&gt;]* : specify the full announce URLs
                    at least one is required
                    additional -a adds backup trackers
-c &lt;comment&gt;      : add a comment to the metainfo
-d                : don't write the creation date
-h                : show this help screen
-l &lt;n&gt;            : set the piece length to 2^n bytes,
                    default is 18, that is 2^18 = 256kb
-n &lt;name&gt;         : set the name of the torrent,
                    default is the basename of the target
-o &lt;filename&gt;     : set the path and filename of the created file
                    default is &lt;name&gt;.torrent
-p                : set the private flag
-s                : add source string embedded in infohash
-v                : be verbose
-w &lt;url&gt;[,&lt;url&gt;]* : add web seed URLs
                    additional -w adds more URLs
</samp></pre>
<p>So, let's say as an example we have a folder, <samp>Folder1</samp> that we want to make a torrent out of and eventually upload it to some-tracker.com. The folder is just over 2GB in size, so we want to use 2MB pieces. We'd do all that like so:</p>
<p><kbd>mktorrent -a https://some-tracker.com -l 21 Folder1/</kbd></p>

<p>We could then, if we wanted to, use <samp>transmission-show</samp> on the resulting torrent to check everything:</p>
<pre><samp>[server ~] transmission-show Folder1.torrent 
Name: Folder1
File: Folder1.torrent

GENERAL

  Name: Folder1
  Hash: 0031b829e1f296072004cd68ab193025195d0193
  Created by: mktorrent 1.1
  Created on: Sat Sep  2 15:14:23 2017
  Piece Count: 954
  Piece Size: 2.00 MiB
  Total Size: 2.00 GB
  Privacy: Public torrent

TRACKERS

  Tier #1
  https://some-tracker.com

FILES

  Folder1/File1 (2.00 GB)</samp></pre>

<h2 id="uninstallation">Uninstallation</h2>
<p>To uninstall simply copy and paste the following commands:</p>
<pre><code>rm -rf ~/bin/mktorrent</code></pre>