<h1>Pip</h1>
<p><p>This article will show you how to install your own version of Pip, to a virtual environment. Pip is used to install Python packages and is therefore useful for any software which is written in Python.</p>
<p>This guide exists because sometimes there are issues using the server instance of Pip to install packages, even at user level. Installing Pip to a virtual environment should allow you to upgrade python packages with ease.</p>
<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installation">Installing Pip</a></li>
            <li><a href="#usage">Using Pip</a></li>
        </ol>
    </nav>
</details> 

<h2 id="installation">Installing Pip</h2>
<p>To install Pip you just need to create a virtual environment. You can do that by copying and pasting the following:</p>
<pre><kbd>pip install --user --ignore-installed --no-binary :all: virtualenv
~/.local/bin/virtualenv ~/pip --system-site-packages</kbd></pre>
<p>This will install <samp>python</samp> and <samp>pip</samp> into the directory <samp>~/pip/bin</samp> where they can be used to run software and upgrade/install packages.</p>

<h2 id="usage">Using Pip</h2>
<p>You can then run your own version of Pip to install or upgrade packages. To install new ones, use the following command (replacing <var>package</var> with the actual package name):</p>
<p><kbd>~/pip/bin/pip install <var>package</var></kbd></p>
<p>To upgrade a package, simply use the following command (again, replace <var>package</var> with the actual package name!):</p>
<p><kbd>~/pip/bin/pip install --upgrade <var>package</var></kbd></p>
<p>You can also see which packages are outdated with the following command:</p>
<p><kbd>~/pip/bin/pip list --outdated</kbd></p>
