<h1>qBittorrent</h1>
<aside class="alert note">Feral supports the three torrent clients installable from the <a href="/wiki/getting-started/web-manager#install">software page of your web manager</a>. It cannot provide support for problems with qBittorrent.</aside>

<p>This article will show you how to install and configure qBittorrent. qBittorrent can be used as an alternative to <a href="/wiki/software/rutorrent">ruTorrent</a>, <a href="/wiki/software/deluge">Deluge</a> or <a href="/wiki/software/transmission">Transmission</a>.</p>
<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="/wiki/slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installation">Installation</a>
                <ul>
                    <li><a href="#pre-config">Configuring before starting qBittorrent</a></li>
                </ul>
            </li>
            <li><a href="#start-stop-restart">Starting, stopping and restarting</a>
                <ul>
                    <li><a href="#auto-restart">Automatically restarting qBittorrent if it is not running</a></li>
                </ul>
            </li>
            <li><a href="#usage">Using qBittorrent</a></li>
            <li><a href="#troubleshooting">Troubleshooting</a></li>
            <li><a href="#uninstallation">Uninstallation</a></li>
        </ol>
    </nav>
</details> 

<h2 id="installation">Installation</h2>
<p>Copy and paste the following commands to install qBittorrent:</p>
<pre><kbd>mkdir -p ~/bin
wget https://bitbucket.org/feralio/wiki/raw/5a89f060aea207f6c51e53481ca4c1847733503c/src/wiki/software/qbittorrent/qbittorrent-nox
mv qbittorrent-nox ~/bin/
 chmod +x ~/bin/qbittorrent-nox</kbd></pre>

<h3 id="pre-config">Configuring before starting qBittorrent</h3>
<p>We need to do some configuration before we can run qBittorrent for the first time. Make the necessary directory and open a blank config file with the following command:</p>
<p><kbd>mkdir -p ~/.config/qBittorrent &amp;&amp; nano ~/.config/qBittorrent/qBittorrent.conf</kbd></p>
<p>Then, copy and paste the following into the file (use <kbd>shift</kbd> + <kbd>insert</kbd> to paste):</p>
<pre><samp>[LegalNotice]
Accepted=true

[Preferences]
General\Locale=en_GB
WebUI\Port=8080
Downloads\SavePath=private/qBittorrent/data</samp></pre>
<p>Once you're done hold <kbd>ctrl</kbd> + <kbd>x</kbd> to save. Press <kbd>y</kbd> to confirm.</p>
<p>Finally, run the following to set things up on a different port, where <var>port</var> is a number between 10001 and 32001:</p>
<p><kbd>sed -i "s|Port=8080|Port=<var>port</var>|g" ~/.config/qBittorrent/qBittorrent.conf</kbd></p>

<h2 id="start-stop-restart">Starting, stopping and restarting</h2>
<p>This section covers the qBittorrent process - starting it, stopping it and restarting it. It also covers checking if the process is running, in case that becomes necessary.</p>
<dl>
    <dt>start</dt>
    <dd><kbd>screen -dmS qBittorrent ~/bin/qbittorrent-nox</kbd></dd>
    <dt>check running</dt>
    <dd><kbd>pgrep -fu "$(whoami)" "qbittorrent-nox"</kbd></dd>
    <dt>stop</dt>
    <dd><kbd>pkill -fu "$(whoami)" 'qbittorrent-nox'</kbd></dd>
    <dt>restart</dt>
    <dd><kbd>pkill -fu "$(whoami)" '/qbittorrent-nox'; sleep 3 &amp;&amp; screen -dmS qBittorrent ~/bin/qbittorrent-nox</kbd></dd>
    <dt>kill (force stop)</dt>
    <dd><kbd>pkill -9 -fu "$(whoami)" 'qbittorrent-nox'</kbd></dd>
</dl>

<h3 id="auto-restart">Automatically restarting qBittorrent if it is not running</h3>
<p>Cron jobs can be used to check if qBittorrent is running and start it up if it is not. There is a separate page on <a href="../slots/cron">configuring cron jobs</a>.</p>

<h2 id="usage">Using qBittorrent</h2>
<p>To access qBittorrent, we first need get the URL to access it on. Get this with the following command:</p>
<p><kbd>echo "http://$(whoami).$(hostname -f):$(sed -rn 's|WebUI\\Port=||p' ~/.config/qBittorrent/qBittorrent.conf)"</kbd></p>
<p>By default the username is <samp>admin</samp> and the password is <samp>adminadmin</samp>. You should change these as soon as possible. You can do this by opening the URL above, clicking the preferences icon (the icon on the far right). Then, click the <samp>Web UI</samp> tab and scroll down to the <samp>Authentication</samp> section. Make the changes to the username and password you want then scroll down and click <samp>Save</samp>. 

<h2 id="troubleshooting">Troubleshooting</h2>
<p>If you experience issues or crashes using qBittorrent the first thing to try and do is restart the software using the command listed in the section above, "Starting, stopping and restarting".</p>

<h2 id="installation">Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software, downloaded data and its config files - back up important data first!</aside>
<pre><kbd>pkill -9 -fu "$(whoami)" 'bin/qbittorrent-nox'
rm -rf ~/bin/qbittorrent-nox ~/.config/qBittorrent/ ~/private/qBittorrent
</kbd></pre>