<h1>Flood</h1>
<p>This article will show you how to install Flood. The software is a front-end for rTorrent and an alternative to ruTorrent.</p>
<p>Prior to using this guide, please make sure you have:</p>
<ul>
	<li><a href="../rutorrent">Installed rTorrent/ruTorrent</a></li>
	<li><a href="../nodejs">Installed Node.js</a></li>
</ul>
<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installing">Installing Flood</a>
                <ul>
                    <li><a href="#pre-configure">Configuring before starting Flood</a></li>
                </ul>
            </li>
            <li><a href="#start-stop-restart">Starting, stopping and restarting</a></li>
            <li><a href="#usage">Using Flood</a></li>
            <li><a href="#troubleshooting">Troubleshooting</a></li>
        </ol>
    </nav>
</details> 

<h2 id="installing">Installing Flood</h2>
<p>Install Flood by logging in via SSH, then copying and pasting the following:</p>
<pre><kbd>mkdir -p ~/node/apps
git clone https://github.com/jfurrow/flood.git ~/node/apps/flood
cp ~/node/apps/flood/config.template.js ~/node/apps/flood/config.js</kbd></pre>

<h3 id="pre-configure">Configuring before starting Flood</h3>
<p>We need to make a few config changes before we can run Flood. Copy and paste the following to make those changes:</p>
<pre><kbd>sed -i "s|floodServerHost: '127.0.0.1'|floodServerHost: ''|g" ~/node/apps/flood/config.js
sed -i "s|floodServerPort: .*,|floodServerPort: $(shuf -i 10001-32001 -n 1),|g" ~/node/apps/flood/config.js
sed -i "s|secret: 'flood'|secret: '$(&lt; /dev/urandom tr -dc '1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz' | head -c20; echo;)'|g" ~/node/apps/flood/config.js
sed -i "s|socket: false|socket: true|g" ~/node/apps/flood/config.js
sed -i "s|socketPath: '/tmp/rtorrent.sock'|socketPath: '$HOME/private/rtorrent/.socket'|g" ~/node/apps/flood/config.js
npm install --production --prefix ~/node/apps/flood
npm run build --prefix ~/node/apps/flood</kbd></pre>

<h2 id="start-stop-restart">Starting, stopping and restarting</h2>
<p>This section covers the Flood process - starting it, stopping it and restarting it. It also covers checking if the process is running, in case that becomes necessary.</p>
<dl>
    <dt>start and display URL</dt>
    <dd><kbd>screen -dmS flood npm start --prefix ~/node/apps/flood/ &amp;&amp; echo http://$(id -u -n).$(hostname -f):$(sed -rn 's/(.*)floodServerPort: (.*),/\2/p' ~/node/apps/flood/config.js)<kbd></dd>
    <dt>check running</dt>
    <dd><kbd>pgrep -fu "$(whoami)" "apps/flood"</kbd></dd>
    <dt>stop</dt>
    <dd><kbd>kill "$(pgrep -fu "$(whoami)" "apps/flood")"</kbd></dd>
    <dt>restart</dt>
    <dd><kbd>kill "$(pgrep -fu "$(whoami)" "apps/flood")" &amp;&amp; sleep 3 &amp;&amp; screen -dmS flood npm start --prefix ~/node/apps/flood/ &amp;&amp; echo http://$(id -u -n).$(hostname -f):$(sed -rn 's/(.*)floodServerPort: (.*),/\2/p' ~/node/apps/flood/config.js)</kbd></dd>
    <dt>kill (force stop)</dt>
    <dd><kbd>kill -9 "$(pgrep -fu "$(whoami)" "apps/flood")"</kbd></dd>
</dl>

<h2 id="usage">Using Flood</h2>
<p>When you first navigate to the URL provided by the start command you'll be prompted by Flood to create an account. Do so, and you'll see this screen:</p>
<figure>
    <img alt="View of post-account creation screen" src="https://bitbucket.org/feralio/wiki/raw/HEAD/src/wiki/software/nodejs/flood/flood-firstlogin.png">
    <figcaption>This is what you should see after creating your account.</figcaption>
</figure>
<p>At this point, refresh the page to be taken to the login screen. Log in using the details you just created and Flood should fully load, displaying your torrents.</p>

<h2 id="troubleshooting">Troubleshooting</h2>
<dl>
    <dt>On trying to build Flood I get the error <samp>Cannot find module 'webpack'</samp></dt>
    <dd>
        <p>Install that module with the following command, then retry the build:</p>
        <p><kbd>npm install --prefix ~/node/apps/flood --save-dev webpack-manifest-plugin</kbd></p>
    </dd>
</dl>
