<h1>Wiki</h1>
<p>Successor to our previous FAQs, our Wiki is intended to be a source of information for all things Feral related.</p>
<ul>
    <li>
        <p>Getting started:</p>
        <ul>
            <li><a href="/wiki/getting-started/newbie-info">New? This info may be helpful!</a></li>
            <li><a href="/wiki/getting-started/web-manager">Manager</a></li>
            <li><a href="/wiki/getting-started/glossary">Glossary</a></li>
            <li><a href="/wiki/getting-started/payment">Payments and payment issues</a></li>
            <li><a href="/wiki/getting-started/tickets">Support tickets</a></li>            
        </ul>
    </li>
    <li>
        <p>Using your slot:</p>
        <ul>
            <li><a href="/wiki/slots/ssh">Accessing via SSH</a></li>
            <li><a href="/wiki/slots/change-passwords">Changing passwords</a></li>
            <li><a href="/wiki/slots/ssh-tunnels">Creating and using SSH tunnels</a></li>
            <li>
                <a href="/wiki/slots/ftp">Downloading from your slot with FTP/SFTP</a>
                <ul>
                    <li><a href="/wiki/slots/ftp/bitkinex">BitKinex</li>
                    <li><a href="/wiki/slots/ftp/cuteftp">CuteFTP</li>
                    <li><a href="/wiki/slots/ftp/filezilla">FileZilla</li>
                    <li><a href="/wiki/slots/ftp/lftp">lftp</li>
                    <li><a href="/wiki/slots/ftp/winscp">WinSCP</li>
                </ul>
            </li>
            <li><a href="/wiki/slots/www">Accessing via a web browser - basics</a></li>
            <li><a href="/wiki/slots/www/dl-via-http">Download data via your web browser</a></li>
            <li><a href="/wiki/slots/www/password-protect">Password protecting web folders</a></li>
            <li><a href="/wiki/slots/generic-install-guide">General info on installing software</a> (via <a href="wiki/slots/install-binary">binaries</a>, <a href="wiki/slots/install-source">source</a>, <a href="wiki/slots/install-deb">extracting a .deb</a>)</li>
            <li><a href="/wiki/slots/custom-domain">Hosting a custom domain</a></li>
            <li><a href="/wiki/slots/custom-ssl">Protecting a custom domain with an SSL certificate</a></li>
            <li><a href="/wiki/slots/homebrew">Installing useful software via Homebrew</a></li>
            <li><a href="/wiki/slots/cron">Cron - starting up custom software automatically</a></li>
            <li><a href="/wiki/slots/proxypass">Using proxypass</a></li>
            <li><a href="/wiki/slots/more-speed">What to do if speeds are slow</a></li>
        </ul>
    </li>
    <li>
        <p id="software">Available software:</p>
        <ul>
            <li><a href="/wiki/software/autodl-irssi">autodl-irssi</a></li>
            <li><a href="/wiki/software/deluge">Deluge</a> (<a href="/wiki/software/deluge/plugins">plugins</a>)</li>
            <li><a href="/wiki/software/emby">Emby</a></li>
            <li><a href="/wiki/software/ffmpeg">FFmpeg</a></li>
            <li><a href="/wiki/software/filebot">FileBot</a></li>
            <li><a href="/wiki/software/flexget">Flexget</a></li>
            <li><a href="/wiki/software/jackett">Jackett</a></li>
            <li><a href="/wiki/software/java">Java</a></li>
            <li><a href="/wiki/software/lidarr">Lidarr</a></li>
            <li><a href="/wiki/software/madsonic">Madsonic</a></li>
            <li><a href="/wiki/software/megatools">Megatools</a></li>
            <li><a href="/wiki/software/mktorrent">Mktorrent</a></li>
            <li><a href="/wiki/software/mono">Mono</a></li>
            <li><a href="/wiki/software/mysql">MySQL</a></li>
            <li><a href="/wiki/software/nginx">Nginx</a></li>
            <li><a href="/wiki/software/nodejs">NodeJS</a> (<a href="/wiki/software/nodejs/flood">Flood</a>)</li>
            <li><a href="/wiki/software/ombi">Ombi</a>
            <li><a href="/wiki/software/openvpn">OpenVPN</a>
            <li><a href="/wiki/software/phpmyadmin">PHPMyAdmin</a></li>
            <li><a href="/wiki/software/pip">Pip</a></li>
            <li><a href="/wiki/software/plex">Plex</a></li>
            <li><a href="/wiki/software/proftpd">ProFTPd</a></li>
            <li><a href="/wiki/software/pyload">Pyload</a></li>
            <li><a href="/wiki/software/qbittorrent">qBittorrent</a></li>
            <li><a href="/wiki/software/radarr">Radarr</a></li>
            <li><a href="/wiki/software/rclone">Rclone</a>
            <li><a href="/wiki/software/resilio_sync">Resilio Sync</a></li>
            <li><a href="/wiki/software/rutorrent">ruTorrent</a> (<a href="/wiki/software/rutorrent/plugins">plugins</a>, <a href="/wiki/software/rutorrent/version">version</a>, <a href="/wiki/software/rutorrent/notifications">notifications</a>)</li>
            <li><a href="/wiki/software/sabnzbd">SABnzbd</a></li>
            <li><a href="/wiki/software/sickchill">SickChill</a></li>
            <li><a href="/wiki/software/sonarr">Sonarr</a></li>
            <li><a href="/wiki/software/tautulli">Tautulli</a></li>
            <li><a href="/wiki/software/transdrone">Transdrone</a></li>
            <li><a href="/wiki/software/transmission">Transmission</a> (<a href="/wiki/software/transmission/transmission-remote">remote GUI</a>)</li>
            <li><a href="/wiki/software/unrar">UnRAR</a></li>
        </ul>
    </li>
    <li><a href="/wiki/contributing">Contributing</a></li>
    <li><a href="/wiki/privacy-policy">Privacy Policy</a></li>
</ul>
